html {
	background-color: #f5f5f5;
}

.secondaryContainer {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.secondaryContainer div {
	position: absolute;
	border-radius: 3rem;
	animation: gradient 4s infinite;
}

@keyframes gradient {
	50% {
		transform: scale(1.3) translate(100px);
	}
}

.secondaryContainer div:nth-child(1) {
	height: 8%;
	width: 40%;
	background-color: rgb(48, 203, 255);
	top: 0%;
	right: 25%;
	animation-delay: 2s;
}

.secondaryContainer div:nth-child(2) {
	height: 45%;
	width: 20%;
	background: linear-gradient(to bottom, #00a6f5 20%, #f5f5f5 40%);
	bottom: -5%;
	left: -5%;
	transform: rotate(15deg);
	animation-delay: 1s;
}

.secondaryContainer div:nth-child(3) {
	height: 45%;
	width: 20%;
	background: linear-gradient(to bottom, #00a6f5 20%, #f5f5f5 40%);
	bottom: -5%;
	right: 5%;
	transform: rotate(15deg);
	animation-delay: 3s;
}

.secondaryContainer::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	/* backdrop-filter: blur(50px); */
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(60px);
	background: rgba(255, 255, 255, 0.1);
	/* backdrop-filter: blur(10px); */
}

.no-arrow {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 15px; /* Adjust as needed */
}

.no-arrow::-ms-expand {
	display: none;
}

.label {
	position: relative;
	width: fit-content;
}
.label::before {
	content: "*";
	color: red;
	position: absolute;
	top: 0;
	right: -7px;
}

.navbar {
	background: rgba(255, 255, 255, 0.63);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.9px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 1);
}

/* .applicants {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */

.applicants::-webkit-scrollbar {
	display: none;
}
